:root {
  --primary-dark: #001e3c;
  --secondary-dark: #132f4c;
  --primary-light: rgba(255, 255, 255, 0.5);
  --secondary-light: #ebebeb54;
  --violet: #674ae9;
  --violet-bg: #674ae91a;
  --brown: #c09b78;
  --brown-bg: #c09b7817;
  --blue: #001e3c;
  --blue-bg: #24003c50;
  --pink: #a06bbe;
  --pink-bg: #a06bbe27;
  --grey: #8b8b8b4b;
}

html {
  background-color: #001e3c;
}

.qoute {
  font-size: 1.4em;
  width: 60%;
  margin: 50px auto;
  font-style: italic;
  padding: 1.2em 30px 1.2em 75px;
  line-height: 1.6;
  position: relative;
  border-radius: 16px;
}

.color1 {
  border-left: 8px solid var(--secondary-light);
  color: var(--secondary-light);
  background-color: var(--brown-bg);
}

.color2 {
  border-left: 8px solid #674ae9;
  color: #674ae9;
  background-color: var(--blue-bg);
}

.color3 {
  border-left: 8px solid #c09b78;
  color: #c09b78;
  /* background-color: var(--brown-bg); */
  background-color: var(--brown-bg);
}

.color4 {
  border-left: 8px solid #a06bbe;
  color: #a06bbe;
  background-color: var(--violet-bg);
}

.theme-dark {
  background-color: var(--secondary-light);
  background-color: var(--primary-dark);
}

.theme-light {
  background-color: var(--primary-light);
  background-color: var(--secondary-light);
}
.blockquote {
  font-size: 1.5em;
  width: 60%;
  margin: 50px auto;
  font-style: italic;
  padding: 1.2em 30px 1.2em 75px;
  /* border-left: 8px solid #8578c0;
    color: #8578c0; */
  line-height: 1.6;
  position: relative;
  border-radius: 24px;
}

.blockquote::before {
  content: "\201C";
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

.blockquote::after {
  content: "";
}

.blockquote span {
  display: block;
  font-weight: 300;
  font-size: 0.9em;
  margin-top: 1em;
}
.btn {
  background-color: var(--brown-bg);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: var(--grey);
}

.nav {
  background-color: rgb(18 59 96);

  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.nav:hover {
  background-color: #0f21b2c7;
}

.nav-bar {
  background-color: rgb(0 30 60);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: flex-end;
  z-index: 9999;
}

textarea {
  background-color: var(--violet-bg);
  color: white;
  font-size: 16px;
  resize: none;
}
.options {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 0.3em;
}
.favorite {
  align-self: center;
}
